<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app='app'>

<head>

    <title>AngularJs - Assignment Two -  User Registration</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


	
</head>

<body ng-controller='UserMgmtCtrl as UM'>

    <form name="frmRegistration">

        <h3 class="well">{{UM.Title.Registration}}</h3>

        <table class="table table-inverse table-bordered">
			<tr>
				<th class="">
					{{UM.User.Name.Label}}
				</th>
				<td class="">
					<input type="text" ng-model="UM.User.Name.Value" ng-required="UM.User.Name.IsRequired" 
					name="Name" placeholder="{{UM.User.Name.PlaceHolder}}" />&nbsp;<span class="error"
					ng-show="frmRegistration.Name.$invalid && frmRegistration.Name.$dirty">Enter Valid Information</span>
				</td>
			</tr>
			<tr>
                <th>
                    {{UM.User.Phone.Label}}
                </th>
                <td>
                    <input type="text" ng-model="UM.User.Phone.Value" ng-required="UM.User.Phone.IsRequired && frmRegistration.Email.$invalid" ng-pattern="UM.Pattern.Phone" 
					name="Phone" placeholder="{{UM.User.Phone.PlaceHolder}}" />&nbsp;<span  class="error"
					ng-show="frmRegistration.Phone.$invalid && frmRegistration.Phone.$dirty">Enter Valid Information</span>
                </td>
            </tr>
			<tr>
                <th>
                    {{UM.User.Email.Label}}
                </th>
                <td>
                    <input type="email" ng-model="UM.User.Email.Value" ng-required="UM.User.Email.IsRequired" ng-pattern="UM.Pattern.Email" 
					name="Email" placeholder="{{UM.User.Email.PlaceHolder}}" />&nbsp;<span class="error"
					ng-show="frmRegistration.Email.$invalid && frmRegistration.Email.$dirty">Enter Valid Information</span>
                </td>
            </tr>
		<tr>
                <th>
                    {{UM.User.Password.Label}}
                </th>
                <td>
                    <input type="password" ng-model="UM.User.Password.Value" ng-required="UM.User.Password.IsRequired" name="Password" 
					placeholder="{{UM.User.Password.PlaceHolder}}" />&nbsp;<span class="error"
					ng-show="frmRegistration.Password.$invalid && frmRegistration.Password.$dirty">Enter Valid Information</span>
                </td>
            </tr> 
        </table>

        <input type="submit" name="Register" value="Register User" ng-click="frmRegistration.$valid && UM.Register()"  />
		
    </form>

    <script src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
	
    <script type="text/javascript">

        var appModule = angular.module('app', []);

        appModule.controller('UserMgmtCtrl', [function () {

            var Me = this;
            Me.init = function () {

                Me.Title = {
                    Login: "Login",
                    Registration: "Register User"
                };

                Me.Pattern = {
                    Email: "",
                    Phone: /^(\+{0,1}(91){0,1}\d{3}\-{0,1}\d{3}\-{0,1}\d{4}){1}$/
                }

                Me.User = Me.UserObject();
                Me.Users = [];
                Me.LoggedInUser = null;

            }

			Me.Register = function(){
			alert('Registered')
			}
			
            Me.UserObject = function () {
                var obj = {
                    Name: {
                        Value: null,
                        Label: "Name",
                        IsRequired: true,
                        pattern: "",
                        PlaceHolder: "Name"
                    },
                    Email: {
                        value: null,
                        Label: "Email",
                        IsRequired: true,
                        pattern: Me.Pattern.Email,
                        PlaceHolder: "test@test.com"
                    },
                    Phone: {
                        value: null,
                        Label: "Phone",
                        IsRequired: true,
                        pattern: Me.Pattern.Phone,
                        PlaceHolder: "000-000-0000"
                    },
                    Password: {
                        value: null,
                        Label: "Password",
                        IsRequired: true,
                        pattern: ""
                    }
                };
                return obj;
            }

            Me.init();

        }])

    </script>

</body>

</html>


