
<div align="center"><h3>Order History</h3></div>
<div style="align-items:center" class="alert alert-dismissible alert-success bg-success">

    <div class="row">
        <div class="col-md-3" align="center"><b>Template Name</b></div>
        <div class="col-md-3" align="center"><b>Purchase Date</b></div>
        <div class="col-md-3" align="center"><b>Price</b></div>
        <div class="col-md-3" align="center"><b>Order Status</b></div>
        <div ng-repeat="item in User.orders">
            <div class="col-md-3" align="center">{{item.template.Name}}</div>
            <div class="col-md-3" align="center">{{item.PurchasedDate}}</div>
            <div class="col-md-3" align="center">{{item.Price | currency}}</div>
            <div class="col-md-3" align="center">{{item.OrderStatus}}</div>
        </div>
    </div>
</div>

<div align="center"><h3>Items In Cart</h3></div>
<div style="align-items:center" class="alert alert-dismissible alert-success bg-success">

    <div class="row">
        <div class="col-md-4" align="center"><b>Template Name</b></div>
        <div class="col-md-4" align="center"><b>Price</b></div>
        <div class="col-md-2" align="center"><b>Purchase</b></div>
        <div class="col-md-2" align="center"><b>Cancel</b></div>
        <div ng-repeat="item in User.cartitems">
            <div class="col-md-4" align="center">{{item.template.Name}}</div>
            <div class="col-md-4" align="center">{{item.template.Price | currency}}</div>
            <div class="col-md-2" align="center"><button class="btn btn-sm btn-primary">Buy</button></div>
            <div class="col-md-2" align="center"><button class="btn btn-sm btn-default">Cancel</button></div>
        </div>
    </div>



</div>

