<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app='app'>

<head>

    <title>AngularJs - Assignment Two -  Filters</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>

<body ng-controller="FilterCtrl">

    <h2 class="well">{{constant.Title}}</h2>

    <div class="container">
        <h4>List of Filter Implemented in this Application.</h4>
        <b><span ng-repeat="item in constant.FilterList">{{item}} <span ng-show="!$last">, </span><span ng-show="$last">.</span></span></b>
    </div>
    <br /><br /><br />
    <div class="container well">
        <div class="well">
            <b>Sort By:</b>&nbsp;
            <select ng-model="sort">
                <option ng-repeat="item in sortData" value="{{item.value}}">{{item.key}}</option>
            </select>
            <select ng-model="sortOrder">
                <option ng-repeat="item in sortOrderData" value="{{item.value}}">{{item.key}}</option>
            </select>
            &nbsp;&nbsp;&nbsp;
            <b>Filter By : </b>&nbsp;
            <b>Name : </b>&nbsp;<input type="text" ng-model="search.properties.name.value" />&nbsp;
            <b>Item Type : </b>&nbsp;<input type="text" ng-model="search.itemType" />
        </div>
        <table class="table table-border">
            <tr ng-if="filteredData.length > 0">
                <th>Item ID</th>
                <th>Name</th>
                <th>Brand</th>
                <th>Item Type</th>
                <th>Description</th>
                <th>Price</th>
                <th>Rating</th>
                <th>Rating Desc</th>
            </tr>
            <tr ng-repeat="product in filteredData = (data | filter:search ) | orderBy:sortOrder+sort ">
                <td>{{product.properties.id.value}}</td>
                <td>{{product.properties.name.value | uppercase}}</td>
                <td>{{product.properties.brand.value}}</td>
                <td>{{product.itemType}}</td>
                <td>{{product.description}}</td>
                <td>{{product.properties.price.value | currency}}</td>
                <td>{{product.properties.rating.value | number:2}}</td>
                <td>{{product.properties.rating.value | RatingText}}</td>
            </tr>
            <tr>
                <td colspan="8" ng-if="filteredData.length === 0">
                    No Matching Items Found.
                </td>
            </tr>
        </table>
    </div>

    <script src="https://code.angularjs.org/1.5.8/angular.min.js"></script>

    <script type="text/javascript">

        var appModule = angular.module('app', []);

        appModule.controller('FilterCtrl', function ($scope) {

            $scope.init = function () {

                $scope.constant = {
                    Title: "Working with Filters",
                    FilterList: [
                        "Formatting",
                        "Sorting",
                        "Filtering",
                        "Custom Filter"
                    ]
                };

                $scope.sortData = [
                    { key: 'ID', value: 'properties.id.value' },
                    { key: 'Name', value: 'properties.name.value' },
                    { key: 'Item Type', value: 'itemType' },
                    { key: 'Price', value: 'properties.price.value' },
                    { key: 'Rating', value: 'properties.rating.value' },
                    { key: 'Brand', value: 'properties.brand.value' },
                ];

                $scope.sortOrderData = [
                   { key: 'Asc', value: '+' },
                   { key: 'Desc', value: '-' }
                ];

                $scope.sort = 'properties.id.value';
                $scope.sortOrder = '+';

                $scope.data = $scope.DefaultData();
            }

            $scope.DefaultData = function () {
                var products = [];

                var product1 = $scope.CreateInstance();
                product1.itemType = "Console";
                product1.description = "Gaming Consoles";
                product1.properties.id = $scope.CreateProperty("Number", true, 1);
                product1.properties.name = $scope.CreateProperty("String", true, "Playstation2");
                product1.properties.price = $scope.CreateProperty("Currency", true, 129);
                product1.properties.rating = $scope.CreateProperty("Number", true, 3);
                product1.properties.brand = $scope.CreateProperty("String", true, "Sony");
                products.push(product1);

                var product2 = $scope.CreateInstance();
                product2.itemType = "Console";
                product2.description = "Gaming Consoles";
                product2.properties.id = $scope.CreateProperty("Number", true, 2);
                product2.properties.name = $scope.CreateProperty("String", true, "Playstation3");
                product2.properties.price = $scope.CreateProperty("Currency", true, 240);
                product2.properties.rating = $scope.CreateProperty("Number", true, 4);
                product2.properties.brand = $scope.CreateProperty("String", true, "Sony");
                products.push(product2);

                var product3 = $scope.CreateInstance();
                product3.itemType = "Console";
                product3.description = "Gaming Consoles";
                product3.properties.id = $scope.CreateProperty("Number", true, 3);
                product3.properties.name = $scope.CreateProperty("String", true, "Playstation4");
                product3.properties.price = $scope.CreateProperty("Currency", true, 366);
                product3.properties.rating = $scope.CreateProperty("Number", true, 4.5);
                product3.properties.brand = $scope.CreateProperty("String", true, "Sony");
                products.push(product3);

                var product4 = $scope.CreateInstance();
                product4.itemType = "Console";
                product4.description = "Gaming Consoles";
                product4.properties.id = $scope.CreateProperty("Number", true, 4);
                product4.properties.name = $scope.CreateProperty("String", true, "XBox One");
                product4.properties.price = $scope.CreateProperty("Currency", true, 319);
                product4.properties.rating = $scope.CreateProperty("Number", true, 4.2);
                product4.properties.brand = $scope.CreateProperty("String", true, "Microsoft");
                products.push(product4);

                var product5 = $scope.CreateInstance();
                product5.itemType = "Console";
                product5.description = "Gaming Consoles";
                product5.properties.id = $scope.CreateProperty("Number", true, 6);
                product5.properties.name = $scope.CreateProperty("String", true, "XBox 360");
                product5.properties.price = $scope.CreateProperty("Currency", true, 141);
                product5.properties.rating = $scope.CreateProperty("Number", true, 3.8);
                product5.properties.brand = $scope.CreateProperty("String", true, "Microsoft");
                products.push(product5);

                var product6 = $scope.CreateInstance();
                product6.itemType = "Camera";
                product6.description = "DIgital Cameras";
                product6.properties.id = $scope.CreateProperty("Number", true, 5);
                product6.properties.name = $scope.CreateProperty("String", true, "Nikon 5100");
                product6.properties.price = $scope.CreateProperty("Currency", true, 510);
                product6.properties.rating = $scope.CreateProperty("Number", true, 4.2);
                product6.properties.brand = $scope.CreateProperty("String", true, "Nikon");
                products.push(product6);

                return products;
            }

            $scope.CreateInstance = function () {
                return {
                    itemType: "",
                    description: "",
                    properties: {
                        id: null,
                        name: null,
                        price: null,
                        rating: null
                    }
                }
            }

            $scope.CreateProperty = function (pType, pRequired, pValue) {
                return {
                    type: pType,
                    required: pRequired,
                    value: pValue
                }
            }

            $scope.init();

        });

        appModule.filter("RatingText", function () {
            return function (input) {

                if (input > 4.5) {
                    return 'Excellent';
                }
                else if (input > 4) {
                    return 'Very Good';
                }
                else if (input > 3.5) {
                    return 'good';
                }
                else if (input > 3) {
                    return 'Medium';
                }
                else {
                    return 'Bad';
                }
            }
        });

    </script>

</body>

</html>
